*, *::before, *::after {
    /* outline: 1px red solid; */
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace, 'Courier New', sans-serif,  Courier;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #272727;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header, footer{
     background-color: #000000;
     color: #10B5F2;
     height: 3vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
}

header{
    margin-bottom: auto;
    text-transform: capitalize;
}


footer{
    margin-top: auto;
}

main{
    background-color: #191919;
    border-radius: 10px;
    width: 30vw;
    height: 80vh;
    padding: 0.5%;

    display: flex;
    flex-wrap: wrap;
}

#panel, .upper-cont{
    flex-grow: 1;
    flex-basis: 100%;
}

#panel{
    height: 30%;
    width: 100%;
}

#upper-panel{
    background-color: #191919;
    height: 60%;
    color: #444444;
    text-align: right;
    white-space: pre-line;
    padding: 1% 5% 1% 0;
    font-size: 1.5rem;
    
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#upper-panel::-webkit-scrollbar{
    display: none;
}

#lower-panel{
    background-color: #272727;
    color: #10B5F2;
    height: 40%;
    width: 100%;
    padding-right: 5%;  

    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    gap: 1%;
}

#lower-panel::-webkit-scrollbar-track{
	background-color: #191919;
}

#lower-panel::-webkit-scrollbar{
    height: 7px;
}

#lower-panel::-webkit-scrollbar-thumb{
    border-radius: 5px;
	background-color: #10B5F2;
}

.expression-cont{
    font-size: 2rem;
    margin-bottom: 0;
    font-style: normal;
    transition: margin-bottom 0.1s ease;
    margin-left: auto;
}

.result-cont{
    font-size: 3rem;
    color: white;
    margin-right: auto;
}

.upper-cont{
    height: 13%;
    display: flex;
    background-color: #444444;
}

#clear, #backspace{
    flex: 1;
    border-radius: 0 0 10px 10px;
}

.left-cont, .right-cont{
    background-color: #444444;
    display: flex;
    flex-grow: 1;
    height: 57%;
}

.left-cont{
    flex-wrap: wrap;
    flex-basis: 75%
}

.right-cont{
    flex-basis: 25%;
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: #444444;
    color: #F8F8F8;
    font-size: 2rem;
}

.button:hover{
    box-shadow: inset 10px 10px 12px #3a3a3a,
    inset -10px -10px 12px #4e4e4e;
    transition: box-shadow 0.2s;
}

.button:active{
    box-shadow: inset 10px 10px 12px #353535,
    inset -10px -10px 12px #585858;
    transition: box-shadow 0.2s;
}

.left-cont .button{
    flex: 1;
    flex-basis: 33.333%;
}

#point, #zero{
    border-radius: 10px 10px 0 0;
}

#zero{ 
    flex-basis: 66.666%;
}

.right-cont .button{
    flex-basis: 20%;
}

#add, #equal{
    flex-basis: 40%;
}

#equal{
    background-color: #10B5F2;
    color: #272727;
    border-radius: 0;
}

#equal:hover{
    box-shadow: inset 10px 10px 12px #0a6d91,
    inset -10px -10px 12px #6ed8ff;
    transition: box-shadow 0.2s,  border-radius 0.1s;
    border-radius: 10px 10px 0 0;
}

#equal:active{
    box-shadow: inset 10px 10px 12px #075774,
    inset -10px -10px 12px #92e2ff;
    transition: box-shadow 0.2s;
}

.operator{
    color: #10B5F2
}

#backspace > img {
    pointer-events: none;
}
