*{
    /* outline: 1px red solid; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: aquamarine;
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
}

#panel, .upper-cont{
    flex-grow: 1;
    flex-basis: 100%;
}

#panel{
    background-color: rgb(189, 21, 43);
    height: 30%;
}

.upper-cont{
    background-color: royalblue;
    height: 13%;
    display: flex;
}

#clear, #backspace{
    flex: 1;
}

.left-cont, .right-cont{
    display: flex;
    flex-grow: 1;
    height: 57%;
}

.left-cont{
    background-color: blueviolet;
    flex-wrap: wrap;
    flex-basis: 75%
}

.right-cont{
    background-color: cornflowerblue;
    flex-basis: 25%;
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
}

.left-cont .button{
    flex: 1;
    flex-basis: 33.333%;
}

#zero{ 
    flex-basis: 66.666%;
}

.right-cont .button{
    flex-basis: 20%;
}

#add, #equal{
    flex-basis: 40%;
}
