*{
    /* outline: 1px red solid; */
    
   
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}

body{
    padding: 0;
    margin: 0;
    font-size: 2em;
    height: 100vh;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #191919;
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5%;
}

#panel, .upper-cont{
    flex-grow: 1;
    flex-basis: 100%;
}

#panel{
    background-color: rgb(40, 182, 218);
    height: 30%;
}

#upper-panel{
background-color: #191919;
height: 60%;
}

#lower-panel{
    background-color: #272727;
    height: 40%;
}

.upper-cont{
    background-color: royalblue;
    height: 13%;
    display: flex;
}

#clear, #backspace{
    flex: 1;
}

.left-cont, .right-cont{
    display: flex;
    flex-grow: 1;
    height: 57%;
}

.left-cont{
    background-color: blueviolet;
    flex-wrap: wrap;
    flex-basis: 75%
}

.right-cont{
    background-color: cornflowerblue;
    flex-basis: 25%;
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    color: #F8F8F8
}

.left-cont .button{
    flex: 1;
    flex-basis: 33.333%;
}

#zero{ 
    flex-basis: 66.666%;
}

.right-cont .button{
    flex-basis: 20%;
}

#add, #equal{
    flex-basis: 40%;
}

#equal{
    background-color: #10B5F2;
    color: #272727
}

.operator{
    color: #10B5F2
}